* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

button.accordion {
    background: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    transition: .4s;
}

button.accordion:active, button.accordion:hover {
    background: #ddd;
}

div.hidden {
    display: none;
    padding: 0 18;
    background: white;
}
